.default-todo-item-inner {
  flex: 1;

  @include flexRow(flex-start, center);
  .todo-item {
    width: 100%;
    column-gap: 8px;
    flex: 1;
    @include flexRow(flex-start, center);

    .check-box {
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 1px solid rgba(var(--gray), 1);
      border-radius: 4px;

      .check-image {
        width: 16px;
      }
    }

    .todo-text {
      font-size: 14px;
      width: 100%;
      & img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
