.todo-dash-board {
  @include flexCol(flex-start, flex-start);
  row-gap: 8px;
  padding: 8px;

  .todo-list-container {
    @include flexCol(flex-start, flex-start);
    row-gap: 8px;
    width: 100%;
  }
}
