.category-list-item {
  height: 35px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  @include flexRow(space-between, center);

  .control-button {
    display: flex;
    column-gap: 8px;
  }
}

.category-edit-area {
  display: flex;
  column-gap: 8px;

  .todo-input-wrapper {
    flex: 1;
  }
}
