.md-post {
  pre {
    div {
      padding: 20px !important;
      border-radius: 8px;
    }
  }

  h1,
  h2,
  h3,
  p,
  li {
    code {
      color: #235c91 !important;
      background-color: #1b1f230d;
    }
  }

  code:not(.language-html) {
    color: $white;
    padding: 2px;
    border-radius: 4px;
  }

  ol,
  ul {
    list-style: revert;
    margin-left: 20px;
    line-height: 1.9;
  }

  a {
    color: $main-color;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    line-height: 1.9;
  }

  .left-line {
    border-left: 3px solid #dfe2e5;
  }
}
