.deps-todo-item {
  width: 100%;
  @include flexCol(stretch, stretch);
  row-gap: 16px;
  background-color: rgba(var(--white), 1);
  .one-deps-todo-item {
    border: 1px solid rgba(var(--gray), 1);
    padding: 8px;
    border-radius: 8px;
    @include flexRow(stretch, center);
    column-gap: 8px;

    &.hidden {
      opacity: 0;
    }

    .todo-item-wrapper {
      flex: 1;
      .two-deps-todo-item {
        padding: 4px 0 0 8px;
      }
    }
  }
}
