.default-todo-item {
  width: 100%;
  @include flexRow(stretch, center);
  border: 1px solid rgba(var(--gray), 1);
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;

  .drag-indicator-area {
    @include flexRow(center, center);
  }

  .default-todo-item-inner {
    flex: 1;

    @include flexRow(flex-start, center);
    .todo-item {
      width: 100%;
      column-gap: 8px;
      flex: 1;
      @include flexRow(flex-start, center);

      .check-box {
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 1px solid rgba(var(--gray), 1);
        border-radius: 4px;

        .check-image {
          width: 16px;
        }
      }

      .todo-text {
        font-size: 14px;
      }
    }
  }

  .todo-item-edit-input {
    width: 100%;
    display: flex;
    column-gap: 8px;

    .input-area {
      flex: 1;
    }
  }

  .control-todo-item {
    display: flex;
    column-gap: 8px;
  }
}
