.login-panel-container {
  padding: 56px 32px;
  background-color: rgba(var(--white), 1);
  border-radius: 8px;
  min-width: 350px;
  border: 1px solid rgba(var(--gray), 1);

  .login-panel {
    @include flexCol(stretch, center);
    row-gap: 16px;

    .title {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 16px;
    }

    .login-button-wrapper {
      width: 100%;
      padding-top: 16px;
    }

    .not-have-id-text {
      font-size: 12px;
      text-decoration: underline;
      font-weight: bold;
    }

    .social-login-container {
      .social-login-button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        padding: 4px;
        border: 1px solid rgba(var(--gray), 1);
        cursor: pointer;
      }
    }
  }
}
