.my-page-sidebar {
  @include flexCol(stretch, stretch);
  row-gap: 16px;

  .user-image-area {
    @include flexCol(center, center);
    row-gap: 16px;
    .user-image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

    .file-input-area {
      @include flexRow(center, center);
    }
  }
  .user-name-area {
    @include flexRow(center, center);
    width: 100%;
    .user-name-inner {
      @include flexRow(center, center);
      column-gap: 8px;
      .user-name {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .edit-user-name {
      width: 100%;
      padding: 16px;
      @include flexRow(center, center);
      column-gap: 8px;

      .edit-input-area {
        flex: 1;
      }
    }

    .edit-user-name-button {
      float: right;
    }
  }
}
