@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #6862a8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--main-color);
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply my-8;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply my-6;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply my-4;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  img {
    @apply my-8;
  }
  pre {
    @apply my-8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
