.user-profile {
  column-gap: 8px;
  padding: 8px;

  .user-profile-area {
    width: 100%;
    @include flexRow(start, center);
    column-gap: 16px;
    padding: 16px;
    .user-information {
      @include flexRow(flex-start, center);
      column-gap: 8px;
    }
    .user-image {
      width: 32px;
      height: 32px;
      border-radius: 32px;
    }
  }
  .profile-button {
    @include flexCol(stretch, stretch);
    row-gap: 8px;
  }
}
