.auth-panel-container {
  padding: 56px 32px;
  background-color: rgba(var(--white), 1);
  border-radius: 8px;
  min-width: 350px;
  border: 1px solid rgba(var(--gray), 1);

  .auth-panel {
    @include flexCol(stretch, center);
    row-gap: 16px;

    .title {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 16px;
    }

    .auth-button-wrapper {
      width: 100%;
      padding-top: 16px;
    }

    .change-page-text {
      font-size: 12px;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
