.default-modal-container {
  @include flexCol(center, stretch);
  width: 100%;
  border: 1px solid rgba(var(--gray), 1);
  padding: 16px;
  max-width: 320px;
  row-gap: 16px;
  border-radius: 16px;
  min-height: 120px;
  background-color: rgba(var(--white), 1);
  position: absolute;

  .confirm-text {
    font-size: 16px;
    text-align: center;
  }

  .button-container {
    @include flexRow(center, center);
    gap: 8px;
  }
}
