.landing-page {
  width: 100%;
  height: 100%;
  @include flexCol(center, flex-end);

  .login-panel-wrapper {
    margin: 64px;
    position: absolute;
    z-index: 1;
  }
  .landing-image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
