.default-layout-container {
  width: 100%;

  .default-layout {
    width: 100%;
    height: 100%;
    padding: 16px;

    @include flexRow(center, center);
    .default-layout-inner {
      width: 100%;
      @include flexRow(center, stretch);
      column-gap: 16px;

      .sidebar-layout {
        min-width: 350px;
      }

      .main-layout {
        flex: 1;
      }
    }
  }
}
